
<img src="Tp1.png">


### Importer les bibliothèques **numpy** et **pandas** et importer functools de reduce

In [9]:
import pandas as pd
import numpy as np

# PART I

Explorer la dataset `BL-Flickr-Images-Book.csv` 

**NB:** faites attentionsau chemin

## 1 Exploration du dataset

In [60]:
 
 df =pd.read_csv('C:/Users/hed/Downloads/DM-master/DM-master/TP1/Datasets/BL-Flickr-Images-Book.csv')
df.head(5)

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [35]:
## 2 Jeter un coup d'oeil dans le dataset

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
Identifier                8287 non-null int64
Edition Statement         773 non-null object
Place of Publication      8287 non-null object
Date of Publication       8106 non-null object
Publisher                 4092 non-null object
Title                     8287 non-null object
Author                    6509 non-null object
Contributors              8287 non-null object
Corporate Author          0 non-null float64
Corporate Contributors    0 non-null float64
Former owner              1 non-null object
Engraver                  0 non-null float64
Issuance type             8287 non-null object
Flickr URL                8287 non-null object
Shelfmarks                8287 non-null object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.2+ KB

## 3 Qu'est ce que vous remarquez?

##### La fonction info () est utilisée pour imprimer un résumé concis d'un DataFrame. Cette méthode imprime des informations sur un DataFrame, y compris les dtypes d'index et de colonne, les valeurs non nulles et l'utilisation de la mémoire. <br> =>Il faut le suprime les donées qu'ils sont null.

## 4 Dropping unnecessary columns

Nous allons restreindre l'étude à seulement 7 colomnes pour cela nous allons supprimer 7 colonnes que nous jugeons unitiles por le moment :
```Python
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']```

In [55]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']
df.drop(columns=to_drop,inplace=True)
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [50]:
df=df.set_index("Identifier")

,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,,,,,,,,,
206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
481,"Fourth edition, revised, etc.",London,1875,William Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9006.ee.10.
519,NaN,London,1872,The Author,Lagonells. By the author of Darmayne (F. E. A....,"A., F. E.","ASHLEY, Florence Emily.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12637.e.3.
667,NaN,"pp. 40. G. Bryan & Co: Oxford, 1898",NaN,NaN,"The Coming of Spring, and other poems. By J. A...","A., J.|A., J.","ANDREWS, J. - Writer of Verse",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 011652.g.73.
874,NaN,London],1676,NaN,"A Warning to the inhabitants of England, and L...",Remaʿ.,"ADAMS, Mary.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11645.bb.42.
1143,NaN,London,1679,NaN,A Satyr against Vertue. (A poem: supposed to b...,"A., T.","OLDHAM, John.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11602.ee.10.(2.)
1280,NaN,Coventry,1802,Printed by J. Turner,"An Account of the many and great Loans, Benefa...",NaN,"CARTE, Samuel.|JACKSON, Edward - Rector of Sou...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 1430.g.17.
1808,NaN,Christiania,1859,NaN,Erindringer som Bidrag til Norges Historie fra...,"AALL, Jacob.","AALL, J. C.|LANGE, Christian Christoph Andreas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9425.cc.37.
1905,NaN,Firenze,1888,NaN,Gli Studi storici in terra d'Otranto ... Framm...,"AAR, Ermanno - pseud. [i.e. Luigi Giuseppe Oro...","S., L. G. D.|SIMONE, Luigi Giuseppe Oronzo Mar...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10136.g.22.
1929,NaN,Amsterdam,"1839, 38-54",NaN,De Aardbol. Magazijn van hedendaagsche land- e...,NaN,"WITKAMP, Pieter Harme.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10002.g.16-19.
2836,NaN,Savona,1897,NaN,Cronache Savonesi dal 1500 al 1570 ... Accresc...,"ABATE, Giovanni Agostino.","ASSERETO, Giovanni.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10136.h.24.
2854,NaN,London,1865,E. Moxon & Co.,"See-Saw; a novel ... Edited [or rather, writte...","ABATI, Francesco.","READE, William Winwood.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12623.bbb.12.
2956,NaN,Paris,1860-63,NaN,"Géodésie d'une partie de la Haute Éthiopie,...","ABBADIE, Antoine Thompson d'.","RADAU, Rodolphe.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10096.i.19.
2957,NaN,Paris,1873,NaN,[With eleven maps.],"ABBADIE, Antoine Thompson d'.","RADAU, Rodolphe.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10095.i.13.
3017,"Nueva edicion, anotada ... y continuada ... po...",Puerto-Rico,1866,NaN,"[Historia geográfica, civil y politica de la ...","ABBAD Y LASIERRA, Agustín Íñigo - Bishop of...","ACOSTA Y CALBO, José Julian de.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10480.h.18.
3131,NaN,New York,1899,W. Abbatt,"The Crisis of the Revolution, being the story ...","ABBATT, William.","ANDRÉ, John - Major|ARNOLD, Benedict.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9603.g.14.
4598,NaN,Hull,1814,The Author,Peace: a lyric poem. [With prefatory address b...,"ABBOTT, Thomas Eastoe.","WRANGHAM, Francis.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11641.f.1.
4884,NaN,London,1820,J. Hatchard & Son,"Abdallah; or, The Arabian Martyr: a Christian ...",NaN,"BARHAM, Thomas Foster - the Elder",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 994.l.1.(7.)
4976,[Another edition.] Abdollatiphi historiæ Ægypt...,Oxonii,1800,"J. Cooke, etc.",[Abdollatiphi Historiæ Ægypti compendium. [Wit...,NaN,"WHITE, Joseph - Canon of Christ Church",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 983.e.6.|British Library...
5382,NaN,London,"1847, 48 [1846-48]",Punch Office,The Comic History of England ... With ... colo...,"A'BECKETT, Gilbert Abbott.","LEECH, John - Artist",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS C.131.d.16.|British Libr...
5385,[Another edition.] Illustrated by John Leech.,London,[1897?],"Bradbury, Agnew & Co.",[The comic history of England ... With twenty ...,"A'BECKETT, Gilbert Abbott.","LEECH, John - Artist",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9503.f.4.
5389,[Another edition.],London,[1897?],"Bradbury, Agnew & Co.",[The Comic History of Rome ... Illustrated by ...,"A'BECKETT, Gilbert Abbott.","LEECH, John - Artist",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9039.i.11.
5432,NaN,Milano,1893,NaN,Signa: opera in tre atti [founded on the novel...,"A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)","MAZZUCATO, Giovanni Andrea.|RUDALL, H. A.|Ouida",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11779.g.8.(10.)
6036,NaN,London,1805,C. & R. Baldwin,"The Venetian Outlaw, a drama in three acts ......",NaN,"ELLISTON, Robert William.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 642.i.25.|British Librar...
6821,NaN,Aberdeen,1837,J. Davidson & Co.,Description of the Coast between Aberdeen and ...,NaN,"DUNCAN, William - Clerk of Police, Aberdeen",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 797.d.2.
7521,NaN,Wien,1896,NaN,Aus Kaukasischen Ländern. Reisebriefe von H. ...,"ABICH, Wilhelm Hermann.","ABICH, Adelaïde.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10077.h.21.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4053464,NaN,"London: E. Nutt; E. Cooke, 1733",NaN,NaN,A friendly epistle [by Joseph Mitchell?] to th...,NaN,"MITCHELL, Joseph - Poetical Writer|WHITEHEAD, ...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11602.i.16.(3.)
4063671,NaN,London,1896,Richard Bentley & Son,Honor Ormthwaite. By the author of “Lady Jean'...,"KEDDIE, Henrietta.","ORMTHWAITE, Honor.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 012627.ee.28.
4072044,NaN,"London: D. Wilson & T. Durham, 1752",NaN,NaN,"The scale: or, Woman weighed with man. A poem ...","MONCREIFF, John.","M., J.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 1465.k.10.|British Libra...
4077038,NaN,"London: printed for Nicholas Vavasour, 1634",NaN,NaN,"The noble souldier. Or, A contract broken, jus...","ROWLEY, Samuel - Dramatist","R., S.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS C.12.f.2.(2.)|British Li...
4079258,NaN,Glasgow,1750,"printed for John Ross, bookseller in Edinburgh",[Yarico to Inkle.] The epistle of Yarico to In...,NaN,"MOORE, Edward - of Abingdon",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 1465.f.61.
4079262,NaN,London,1879,NaN,The Canadian farmer. A missionary incident. [S...,"YATES, William Joseph H.","Y., W. J. H.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11601.f.36.(1.)
4112297,NaN,"London: Macmillan & Co., pp. xl, 400. 1895",NaN,NaN,Japhet in search of a Father ... With an intro...,"Marryat, Frederick","HANNAY, David.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 012624.g.1.
4112525,NaN,Pontoise,1889,NaN,Histoire populaire de Pontoise ... Précédée...,"DEPOIN, Joseph.","LE CHARPENTIER, Henri.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 010171.h.22.
4112839,NaN,London,[1845.],Willoughby & Co.,The Vicar of Wakefield ... And a prefatory mem...,"Goldsmith, Oliver","BUSSEY, George Moir.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12620.e.32.
4113012,NaN,Philadelphia,1876,S. W. Burley,1776 American Enterprise. 1876. Burley's Unite...,"KIDDER, Charles Holland.|Pope, Alexander","BURLEY, Sylvester W.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10410.s.7.
4113816,NaN,"pp. xxvi, 375. London: Jackson, Walford & Hodd...",NaN,NaN,The lacemakers: sketches of Irish characters w...,"MEREDITH, Susanna.|WIBERG, Carl Fredrik.","LLOYD, Mary Anne.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12620.bb.34.
4114334,NaN,"pp. viii. 64. J. Debrett: London, 1789",NaN,NaN,"The Sword of Peace; or, a voyage of love; a co...",NaN,"STARKE, Mariana.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 643.e.17.(8.)
4114390,NaN,London,1708,NaN,"THe Unfortunate Dutchess of Malfy, or, The Unn...","WEBSTER, John - Dramatist|SCOTT, Michael - of ...","CRINGLE, Tom.|SYMINGTON, James Ayton.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 644.i.71.
4114889,NaN,London,[1868],NaN,"The 5 Alls. A collection of stories, charades,...",NaN,"HOOD, Thomas - the Younger",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12620.f.17.
4114986,[Another edition.] [With a prologue and epilog...,London,1777,J. Wenman,[Barbarossa. A tragedy. As it is performed at ...,"BROWN, John - Vicar of Newcastle-upon-Tyne","GARRICK, David.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 643.g.6.(9.)|British Lib...
4115138,NaN,"G. Eld: London, 1608",NaN,NaN,The Revenger's Tagaedie. As it hath beene sund...,NaN,"TOURNEUR, Cyril.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 644.c.80.|British Librar...
4116063,NaN,London,1866,[John Dicks],"Edith Heron; or, the Earl and the countess. [B...","HERON, Edith.","RYMER, James Malcolm.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12623.i.24.
4117526,NaN,Leipzig,1862,Charles Fr. Fleischer,Abridgment of the History of England ... Adapt...,"Goldsmith, Oliver","ROBOLSKY, Hermann.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9505.cc.3.
4117583,NaN,London,1894,T. Fisher Unwin,The Wish. A novel by Hermann Sudermann. Transl...,"SUDERMANN, Hermann.","HENKEL, Lily.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 012629.g.3.
4117749,NaN,New York,1868,John Wiley & Son,A System of Mineralogy. Descriptive Mineralogy...,"DANA, James Dwight.","BRUSH, George Jarvis.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 7106.c.23.
4117751,NaN,New York,1882,John Wiley & Sons,Third Appendix to the fifth edition of Dana's ...,"DANA, James Dwight.","DANA, Edward Salisbury.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 7106.h.13.
4117752,NaN,London,"1883, [1884]",Trübner & Co.,"A System of Mineralogy ... Fifth edition, rewr...","DANA, James Dwight.","BRUSH, George Jarvis.|DANA, Edward Salisbury.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 07108.i.14.
4156359,NaN,New York,1898-1912,G. P. Putnam's Sons,History of the People of the Netherlands ... T...,"BLOK, Pieter Johan.","BIERSTADT, Oscar A.|PUTNAM, Ruth.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 09...
4157746,NaN,London,1811,F. C. and J. Rivington,"The New Chronicles of England and France, in t...","FABYAN, Robert.","ELLIS, Henry - Sir, Principal Librarian of the...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
4157862,NaN,Newcastle-upon-Tyne,1867,T. Fordyce,"Local Records; or, Historical Register of rema...","FORDYCE, T. - Printer, of Newcastle-upon-Tyne","SYKES, John - Bookseller, of Newcastle-upon-Tyne",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 01...
4158088,NaN,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
4158128,NaN,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
4159563,NaN,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
4159587,NaN,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
4160339,NaN,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

In [56]:
df=df.set_index("Identifier")


df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

## 6 Donner un appérçu sur la colonne `Date of Publication`

In [61]:
df['Date of Publication'].head(25)

0            1879 [1878]
1                   1868
2                   1869
3                   1851
4                   1857
5                   1875
6                   1872
7                    NaN
8                   1676
9                   1679
10                  1802
11                  1859
12                  1888
13           1839, 38-54
14                  1897
15                  1865
16               1860-63
17                  1873
18                  1866
19                  1899
20                  1814
21                  1820
22                  1800
23    1847, 48 [1846-48]
24               [1897?]
Name: Date of Publication, dtype: object

> Remarque : Observer la date de publication qui correspond à l'index 206.
> Ca nécessite un nettoyage et une correction : il faut éliminer certains symboles

## 7 Cleaning columns using the `.apply` function

### Ecrire une fonction qui permet de nettoyer la colonne des dates

In [92]:
unwanted_characters = ['[', ',', '-']
# Completer la fonction suivante
def clean_dates(item):
    dop= str(item.loc['Date of Publication'])
    
    if dop == 'nan' or dop[0] == '[':
         return 1
    
    for character in unwanted_characters:
        if character in dop:
            character_index=dop.find(character)
            dop=dop.lstrip(character_index)
            
            
    
    return dop


df['Date of Publication'] = df.apply(clean_dates, axis = 1)
df['Date of Publication'].head(25)

0     1879
1      1868
2      1869
3      1851
4      1857
5      1875
6      1872
7       NaN
8      1676
9      1679
10     1802
11     1859
12     1888
13     1839
14     1897
15     1865
16     1860
17     1873
18     1866
19     1899
20     1814
21     1820
22     1800
23     1847
24      NaN
Name: Date of Publication, dtype: object

In [79]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [62]:
#Voici une autre méthode
#exécuter pour voir le résultat
unwanted_characters = ['[', ',', '-']

def clean_dates(dop):
    dop = str(dop)
    if dop.startswith('[') or dop == 'nan':
        return 'NaN'
    for character in unwanted_characters:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index]
    return dop

df['Date of Publication'] = df['Date of Publication'].apply(clean_dates)
df.head(10)

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
5,481,"Fourth edition, revised, etc.",London,1875,William Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9006.ee.10.
6,519,NaN,London,1872,The Author,Lagonells. By the author of Darmayne (F. E. A....,"A., F. E.","ASHLEY, Florence Emily.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12637.e.3.
7,667,NaN,"pp. 40. G. Bryan & Co: Oxford, 1898",NaN,NaN,"The Coming of Spring, and other poems. By J. A...","A., J.|A., J.","ANDREWS, J. - Writer of Verse",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 011652.g.73.
8,874,NaN,London],1676,NaN,"A Warning to the inhabitants of England, and L...",Remaʿ.,"ADAMS, Mary.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11645.bb.42.
9,1143,NaN,London,1679,NaN,A Satyr against Vertue. (A poem: supposed to b...,"A., T.","OLDHAM, John.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11602.ee.10.(2.)

In [ ]:
## 8 Observer la collone `Author`
### Completer la fonction `clean_author_names`qui permet de corriger les valeurs de cet colonne

In [115]:
# compléter la fonction suivante ( à la place de pass)
from functools import reduce
def clean_author_names(author):
    
    author = str(author)
    
    if author == 'nan':
        return 'NaN'
    
    author = author.split(',')

    if len(author) == 1:
        name = filter(lambda x: x.isalpha(), author[0])
        return reduce(lambda x, y: x + y, name)
    
    last_name, first_name = author[0], author[1]

    first_name = first_name[:first_name.find('-')] if '-' in first_name else first_name
    
    if first_name.endswith(('.', '.|')):
        parts = first_name.split('.')
        
        if len(parts) > 1:
            first_occurence = first_name.find('.')
            final_occurence = first_name.find('.', first_occurence + 1)
            first_name= first_name[:final_occurence]
            
        else:
            first_name= first_name[:first_name.find('.')]
    
    last_name = last_name.capitalize()
    
    return f'{first_name} {last_name}'


df['Author'] = df['Author'].apply(clean_author_names)

# Résultat attendu 
<img src="Datasets\capture42.png">

In [116]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879,S. Tinsley & Co.,Walter Forbes. [a Novel.],AA,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All For Greed. [a Novel. The Dedication Signed...,AAA,"BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.

##  Observer la colone `title`
### 9 Completer la fonction `clean_title`qui permet de corriger les valeurs de cet colonne

# Résultat attendu 
 <img src="Datasets/capture43.png">

In [128]:
## complétrer la fonction suivante ( à la place de pass)

def clean_title(title):
    
    if title == 'nan':
        return 'NaN'
    
    if title[0] == '[':
        pass
        
    if 'by' in title:
        pass
    elif 'By' in title:
        pass
        
    if '[' in title:
        pass

    title = title[:-2]
        
    title = list(map(str.capitalize, title.split()))
    return ' '.join(title)
    
df['Title'] = df['Title'].apply(clean_title)
df.head()

IndexError: string index out of range

# PART II
## 1 Cleaning entire dataset
### On considère le fichier suivant 'university_towns.txt'

In [11]:
!head Datasets/university_towns.txt

Alabama[edit]
Auburn (Auburn University)[1]
Florence (University of North Alabama)
Jacksonville (Jacksonville State University)[2]
Livingston (University of West Alabama)[2]
Montevallo (University of Montevallo)[2]
Troy (Troy University)[2]
Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]
Tuskegee (Tuskegee University)[5]
Alaska[edit]

In [13]:
with open('Datasets/university_towns.txt', 'r') as text:
    textfile = text.read()
    print(textfile)

Alabama[edit]
Auburn (Auburn University)[1]
Florence (University of North Alabama)
Jacksonville (Jacksonville State University)[2]
Livingston (University of West Alabama)[2]
Montevallo (University of Montevallo)[2]
Troy (Troy University)[2]
Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]
Tuskegee (Tuskegee University)[5]
Alaska[edit]
Fairbanks (University of Alaska Fairbanks)[2]
Arizona[edit]
Flagstaff (Northern Arizona University)[6]
Tempe (Arizona State University)
Tucson (University of Arizona)
Arkansas[edit]
Arkadelphia (Henderson State University, Ouachita Baptist University)[2]
Conway (Central Baptist College, Hendrix College, University of Central Arkansas)[2]
Fayetteville (University of Arkansas)[7]
Jonesboro (Arkansas State University)[8]
Magnolia (Southern Arkansas University)[2]
Monticello (University of Arkansas at Monticello)[2]
Russellville (Arkansas Tech University)[2]
Searcy (Harding University)[5]
California[edit]
Angwin (Pacific Union College)[2]
Arcata (Humboldt State University)[5]
Berkeley (University of California, Berkeley)[5]
Chico (California State University, Chico)[2]
Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]
Cotati (California State University, Sonoma)[2]
Davis (University of California, Davis)[1]
Irvine (University of California, Irvine)
Isla Vista (University of California, Santa Barbara)[2]
University Park, Los Angeles (University of Southern California)
Merced (University of California, Merced)
Orange (Chapman University)
Palo Alto (Stanford University)
Pomona (Cal Poly Pomona, WesternU)[9][10][11] and formerly Pomona College
Redlands (University of Redlands)
Riverside (University of California, Riverside, California Baptist University, La Sierra University)
Sacramento (California State University, Sacramento)
University District, San Bernardino (California State University, San Bernardino, American Sports University)
San Diego (University of California, San Diego, San Diego State University)
San Luis Obispo (California Polytechnic State University)[2]
Santa Barbara (Fielding Graduate University, Santa Barbara City College, University of California, Santa Barbara, Westmont College)[2]
Santa Cruz (University of California, Santa Cruz)[2]
Turlock (California State University, Stanislaus)
Westwood, Los Angeles (University of California, Los Angeles)[2]
Whittier (Whittier CollegeRio Hondo College)
Colorado[edit]
Alamosa (Adams State College)[2]
Boulder (University of Colorado at Boulder)[12]
Durango (Fort Lewis College)[2]
Fort Collins (Colorado State University)[13]
Golden (Colorado School of Mines)
Grand Junction (Colorado Mesa University)
Greeley (University of Northern Colorado)
Gunnison (Western State College)[2]
Pueblo, Colorado (Colorado State University-Pueblo)
Connecticut[edit]
Fairfield (Fairfield University, Sacred Heart University)
Middletown (Wesleyan University)
New Britain (Central Connecticut State University)
New Haven (Yale University, University of New Haven, Southern Connecticut State University, Albertus Magnus College, Quinnipiac University)[14]
New London (Connecticut College, US Coast Guard Academy, Mitchell College)[2]
Storrs (University of Connecticut)[2]
Willimantic (Eastern Connecticut State University)[2]
Delaware[edit]
Dover (Delaware State University)[1]
Newark (University of Delaware)[1]
Florida[edit]
Ave Maria (Ave Maria University)
Boca Raton (Florida Atlantic University)
Coral Gables (University of Miami)
DeLand (Stetson University)[5]
Estero (Florida Gulf Coast University)
Gainesville (University of Florida, Santa Fe College)
Orlando (University of Central Florida)
Sarasota (New College of Florida, Ringling College of Art and Design, State College of Florida, Manatee-Sarasota, University of South Florida Sarasota-Manatee)
St. Augustine (Flagler College)
St. Leo (St. Leo University)
Tallahassee (Florida State University, Florida A&M University)
Tampa (University of South Florida)
Georgia[edit]
Albany (Albany State University)
Athens (University of Georgia)[15]
Atlanta (Georgia State University, Georgia Tech, Emory)[2]
Carrollton (University of West Georgia)[2]*Dahlonega (North Georgia College & State University)[2]
Demorest (Piedmont College)[2]
Fort Valley (Fort Valley State University)[2]
Kennesaw (Kennesaw State University)
Milledgeville (Georgia College & State University)[2]
Mount Vernon (Brewton-Parker College)[2]
Oxford (Oxford College)
Rome (Berry College, Shorter University)
Savannah (Armstrong Atlantic State University, Savannah State University, Savannah College of Art and Design)
Statesboro (Georgia Southern University)[5]
Valdosta (Valdosta State University)[2]
Waleska (Reinhardt College)[2]
Young Harris (Young Harris College)[2]
Hawaii[edit]
Manoa (University of Hawaii at Manoa)[2]
Idaho[edit]
Moscow (University of Idaho)[2]
Pocatello (Idaho State University)[2]
Rexburg (BYU-Idaho)[2]
Illinois[edit]
Carbondale (Southern Illinois University Carbondale)[5]
Champaign–Urbana (University of Illinois at Urbana–Champaign)[5]
Charleston (Eastern Illinois University)[2]
DeKalb (Northern Illinois University)[2]
Edwardsville (Southern Illinois University Edwardsville)[2]
Evanston (Northwestern University)[2]
Lebanon (McKendree University)[2]
Macomb (Western Illinois University)[2]
Normal (Illinois State University)[2]
Peoria (Bradley University)
Indiana[edit]
Bloomington (Indiana University Bloomington)[5]
Crawfordsville (Wabash College)
Greencastle (DePauw University)[5]
Hanover (Hanover College)[2]
Marion (Indiana Wesleyan University)[2]
Muncie (Ball State University)[2]
Oakland City (Oakland City University)[2]
Richmond (Earlham College)[2]
South Bend (Notre Dame University[2])
Terre Haute (Indiana State University, Rose-Hulman Institute of Technology)[2]
Upland (Taylor University)[2]
Valparaiso (Valparaiso University)
West Lafayette (Purdue University)[2]
Iowa[edit]
Ames (Iowa State University)[2]
Cedar Falls (University of Northern Iowa)[2]
Cedar Rapids, Iowa (Coe College )
Decorah (Luther College)[5]
Fayette (Upper Iowa University)[2]
Grinnell (Grinnell College)[15]
Iowa City (University of Iowa)[15]
Lamoni (Graceland University)[2]
Mount Vernon, (Cornell College)
Orange City (Northwestern College)[2]
Sioux Center (Dordt College)[2]
Storm Lake (Buena Vista University)[2]
Waverly (Wartburg College)[2]
Kansas[edit]
Baldwin City (Baker University)[5]
Emporia (Emporia State University)[2]
Hays (Fort Hays State University)[2]
Lawrence (University of Kansas, Haskell Indian Nations University)[15]
Manhattan (Kansas State University, Manhattan Christian College)[15]
Pittsburg (Pittsburg State University)[2]
Kentucky[edit]
Bowling Green (Western Kentucky University)[2]
Columbia (Lindsey Wilson College)[2]
Georgetown (Georgetown College)
Highland Heights (Northern Kentucky University)
Lexington (University of Kentucky, Transylvania University[5]
Louisville (University of Louisville)
Morehead (Morehead State University)[2]
Murray (Murray State University)[5]
Richmond (Eastern Kentucky University)[2]
Williamsburg (University of the Cumberlands)[2]
Wilmore (Asbury University, Asbury Theological Seminary)[2]
Louisiana[edit]
Baton Rouge (Louisiana State University, Southern University)
Grambling (Grambling State University)[5]
Hammond (Southeastern Louisiana University)[2]
Lafayette (University of Louisiana at Lafayette)
Monroe (University of Louisiana at Monroe)[2]
Natchitoches (Northwestern State University)[2]
Ruston (Louisiana Tech University)[2]
Thibodaux (Nicholls State University)[2]
Maine[edit]
Augusta (University of Maine at Augusta)[2]
Bar Harbor (College of the Atlantic)
Brunswick (Bowdoin College)
Farmington (University of Maine at Farmington)[2]
Fort Kent (University of Maine at Fort Kent)
Gorham (University of Southern Maine)[2]
Lewiston, Maine (Bates College)
Orono (University of Maine)[2]
Waterville (Thomas College, Colby College)
Maryland[edit]
Annapolis (United States Naval Academy, St. John's College)
Chestertown (Washington College)[2]
College Park (University of Maryland, College Park)[16]
Cumberland (Allegany College of Maryland)
Emmitsburg (Mount St. Mary's University)[2]
Frostburg (Frostburg State University)[5]
Princess Anne (University of Maryland Eastern Shore)[5]
Towson (Towson University, Goucher College)[2]
Salisbury (Salisbury University)[2]
Westminster (McDaniel College)
Massachusetts[edit]
Boston (Boston University, Boston College, Boston Conservatory, New England Conservatory, Brandeis University, Northeastern University, UMass Boston, Emmanuel College, Bunker Hill Community College, Roxbury Community College, Suffolk University, Simmons College, among many others)
Bridgewater (Bridgewater State College)[2]
Cambridge (Harvard University, Massachusetts Institute of Technology)(Lesley University, Cambridge College, Longy School of Music)[15]
Chestnut Hill (Boston College)
The Colleges of Worcester Consortium:
Dudley (Nichols College)
North Grafton (Cummings School of Veterinary Medicine at Tufts University)
Paxton (Anna Maria College)
Worcester (Assumption, Becker, Clark University, Holy Cross, Mass. College of Pharmacy & Health Sciences, Quinsigamond Community College, UMass Medical School, Worcester State University, Worcester Polytechnic Institute)
The Five College Region of Western Massachusetts:
Amherst (Amherst College, Hampshire College, University of Massachusetts Amherst)[15]
Northampton (Smith College)
South Hadley (Mount Holyoke College)
Fitchburg (Fitchburg State College)
North Adams (Massachusetts College of Liberal Arts)
Springfield (American International College), (Springfield College), and (Western New England College)
Waltham (Bentley University), (Brandeis University)
Williamstown (Williams College)
Framingham (Framingham State University)
Michigan[edit]
Adrian (Adrian College, Siena Heights University)
Albion (Albion College)[17]
Allendale (Grand Valley State University)
Alma (Alma College)
Ann Arbor (University of Michigan)[1]
Berrien Springs (Andrews University)[2]
Big Rapids (Ferris State University)[2]
East Lansing (Michigan State University)[2]
Flint (Kettering University, University of Michigan-Flint)
Hillsdale (Hillsdale College)
Houghton (Michigan Technological University)[5]
Kalamazoo (Western Michigan University, Kalamazoo College)[2]
Marquette (Northern Michigan University)[2]
Midland (Northwood University)
Mount Pleasant (Central Michigan University)[2]
Olivet (Olivet College)[2]
Saginaw (Saginaw Valley State University)
Sault Ste. Marie (Lake Superior State University)
Spring Arbor (Spring Arbor University)[2]
Ypsilanti (Eastern Michigan University)[2]
Minnesota[edit]
Bemidji (Bemidji State University)[2]
Crookston (University of Minnesota Crookston)[2]
Duluth (University of Minnesota Duluth, Lake Superior College, The College of St. Scholastica, University of Wisconsin–Superior, Duluth Business University
Faribault, South Central College
Mankato (Minnesota State University, Mankato),[2] Bethany Lutheran College
Marshall (Southwest Minnesota State University)[2]
Moorhead (Minnesota State University, Moorhead, Concordia College)[18]
Morris (University of Minnesota Morris)[2]
Northfield (Carleton College, St. Olaf College)[5]
North Mankato, South Central College
St. Cloud (St. Cloud State University, The College of St. Scholastica)[2]
St. Joseph (College of Saint Benedict)[2]
St. Peter (Gustavus Adolphus College)[2]
Winona (Winona State University, St. Mary's University of Minnesota)[19]
Mississippi[edit]
Cleveland (Delta State University)[2]
Hattiesburg (University of Southern Mississippi)[20]
Itta Bena (Mississippi Valley State University)[2]
Oxford (University of Mississippi)[2]
Starkville (Mississippi State University)[2]
Missouri[edit]
Bolivar (Southwest Baptist University)[2]
Cape Girardeau (Southeast Missouri State University)[2]
Columbia (University of Missouri, Stephens College, Columbia College)[20]
Fayette (Central Methodist University)[2]
Fulton (Westminster College and William Woods University).
Kirksville (Truman State University, A. T. Still University)[2]
Maryville (Northwest Missouri State University)[2]
Rolla (Missouri University of Science and Technology)[2]
Warrensburg (University of Central Missouri)[5]
Montana[edit]
Bozeman (Montana State University)[2]
Dillon (University of Montana Western)[2]
Missoula (University of Montana)[5]
Nebraska[edit]
Chadron (Chadron State College)[5]
Crete (Doane College)[2]
Kearney (University of Nebraska at Kearney)[2]
Lincoln (University of Nebraska at Lincoln)[5]
Peru (Peru State College)[2]
Seward (Concordia University)[2]
Wayne (Wayne State College)[2]
Nevada[edit]
Las Vegas (University of Nevada, Las Vegas)
Reno (University of Nevada, Reno)
New Hampshire[edit]
New London, New Hampshire (Colby-Sawyer College)
Durham (University of New Hampshire)[2]
Hanover (Dartmouth College)[5]
Henniker (New England College)
Keene (Keene State College)[2]
Plymouth (Plymouth State University)[2]
Rindge (Franklin Pierce University)
New Jersey[edit]
Ewing (The College of New Jersey), (Rider University)
Jersey City (New Jersey City University), (Saint Peter's University)
Glassboro (Rowan University)[2]
Hoboken (Stevens Institute of Technology)
Madison (Drew University), (Fairleigh Dickinson University), (College of Saint Elizabeth)
Newark (Rutgers University), (New Jersey Institute of Technology), (UMDNJ)
New Brunswick (Rutgers University)[5]
Princeton (Princeton University)[5]
Union (Kean University)
West Long Branch (Monmouth University)
New Mexico[edit]
Hobbs (University of the Southwest)[2]
Las Cruces (New Mexico State University)[2]
Las Vegas (New Mexico Highlands University)[2]
Portales (Eastern New Mexico University)[2]
Silver City (Western New Mexico University)[2]
New York[edit]
Alfred (Alfred University, Alfred State College)[2]
Albany (SUNY Albany, Siena College, Albany College of Pharmacy, Albany Law School, Albany Medical College, College of Saint Rose, Excelsior College, Maria College of Albany, Mildred Elley, Sage College of Albany)
Aurora (Wells College)[21]
Binghamton (Binghamton University)[2]
Brockport (SUNY Brockport)[5]
Buffalo (University at Buffalo)
Canton (St. Lawrence University, SUNY Canton)[2]
Clinton (Hamilton College)[2]
Cobleskill (SUNY Cobleskill)[2]
Delhi (SUNY Delhi)[2]
Fredonia (SUNY Fredonia)[2]
Geneseo (SUNY Geneseo)[2]
Geneva (Hobart and William Smith Colleges)
Hamilton (Colgate University)[2]
Ithaca (Cornell University, Ithaca College)[1]
Morningside Heights, Manhattan (Columbia University, Barnard College, Teachers College, Manhattan School of Music, Jewish Theological Seminary, Union Theological Seminary, Bank Street College of Education)
New Paltz (SUNY New Paltz)[2]
Oneonta (SUNY Oneonta, Hartwick College)[2]
Oswego (SUNY Oswego)[2]
Plattsburgh (SUNY Plattsburgh)[2]
Potsdam (SUNY Potsdam, Clarkson University)[2]
Poughkeepsie (Vassar College, Marist College)[2]
Purchase (Purchase College, Manhattanville College)[2]
Rochester (University of Rochester, Rochester Institute of Technology, Nazareth College, St. John Fisher College, Monroe Community College, Roberts Wesleyan College, SUNY Brockport, SUNY Empire State College)[2]
Saratoga Springs (Skidmore College)[2]
Seneca Falls (New York Chiropractic College)
Stony Brook (Stony Brook University)
Syracuse (Syracuse University, SUNY ESF, Upstate Medical University)
Tivoli (Bard College)
Troy (Rensselaer Polytechnic Institute, Russell Sage College, Hudson Valley Community College)
West Point (United States Military Academy)
North Carolina[edit]
Banner Elk (Lees-McRae College)
Boiling Springs (Gardner-Webb University)[2]
Boone (Appalachian State University)[2]
Buies Creek (Campbell University)[2]
Chapel Hill (University of North Carolina at Chapel Hill)[20]
Cullowhee (Western Carolina University)[2]
Davidson (Davidson College)[5]
Durham (Duke University, North Carolina Central University)[5]
Elon (Elon University)[2]
Greensboro (University of North Carolina at Greensboro, Greensboro College, Guilford College, North Carolina A & T State University, Bennett College)
Greenville (East Carolina University)[2]
Hickory (Lenoir-Rhyne University)[2]
Mars Hill (Mars Hill College)[2]
Mount Olive (Mount Olive College)[2]
Pembroke (University of North Carolina at Pembroke)[2]
Wilmington, North Carolina (University of North Carolina at Wilmington)
Wingate (Wingate University)[2]
Winston-Salem (Wake Forest University, University of North Carolina School of the Arts, Salem College, Winston-Salem State University)
North Dakota[edit]
Fargo (North Dakota State University)[18]
Grand Forks (University of North Dakota)[5]
Ohio[edit]
Ada (Ohio Northern University)[2]
Alliance (University of Mount Union)
Ashland (Ashland University)[2]
Athens (Ohio University)[2]
Berea (Baldwin Wallace College)
Bluffton (Bluffton University)[2]
Bowling Green (Bowling Green State University)[2]
Cedarville (Cedarville University)[2]
Columbus (Ohio State University)
Delaware (Ohio Wesleyan University)
Fairborn (Wright State University)
Findlay (University of Findlay)
Gambier (Kenyon College)[2]
Granville (Denison University)[2]
Hiram (Hiram College)[2]
Kent (Kent State University)[2]
Nelsonville (Hocking College)[2]
New Concord (Muskingum College)[2]
Oberlin (Oberlin College)[5]
Oxford (Miami University)[5]
Rio Grande (University of Rio Grande)[2]
Wilberforce (Wilberforce University, Central State University)[2]
Oklahoma[edit]
Ada (East Central University)[2]
Alva (Northwestern Oklahoma State University)[2]
Durant (Southeastern Oklahoma State University)[2]
Edmond (University of Central Oklahoma, Oklahoma Christian University)[2]
Goodwell (Oklahoma Panhandle State University)[2]
Langston (Langston University)[5]
Norman (University of Oklahoma)[1]
Stillwater (Oklahoma State University)[5]
Tahlequah (Northeastern State University)[2]
Tulsa (The University of Tulsa)
Weatherford (Southwestern Oklahoma State University)
Oregon[edit]
Ashland (Southern Oregon University)[2]
Corvallis (Oregon State University)[20]
Eugene (Lane Community College, Northwest Christian University, University of Oregon)[20]
Forest Grove (Pacific University)
Klamath Falls (Klamath Community College, Oregon Institute of Technology)
La Grande (Eastern Oregon University)[2]
Marylhurst (Marylhurst University)
McMinnville (Linfield College)
Monmouth (Western Oregon University)[2]
Newberg (George Fox University)
Pennsylvania[edit]
Altoona (Penn State Altoona)
Annville (Lebanon Valley College)[2]
Bethlehem (Lehigh University, Moravian College)
Bloomsburg (Bloomsburg University of Pennsylvania)[2]
Bradford (University of Pittsburgh at Bradford)
California (California University of Pennsylvania)[2]
Carlisle (Dickinson College)
Cecil B. Moore, Philadelphia, also known as "Templetown" (Temple University)
Clarion (Clarion University of Pennsylvania)[2]
Collegeville (Ursinus College)
Cresson (Mount Aloysius College)[2]
East Stroudsburg (East Stroudsburg University of Pennsylvania)[2]
Edinboro (Edinboro University of Pennsylvania)[2]
Erie (Gannon University, Mercyhurst College, Penn State Erie)
Gettysburg (Gettysburg College)[2]
Greensburg (Seton Hill University, University of Pittsburgh at Greensburg)
Grove City (Grove City College)[2]
Huntingdon (Juniata College)[2]
Indiana (Indiana University of Pennsylvania)[2]
Johnstown (University of Pittsburgh at Johnstown)
Kutztown (Kutztown University of Pennsylvania)[2]
Lancaster (Franklin & Marshall)
Lewisburg (Bucknell University)[5]
Lock Haven (Lock Haven University of Pennsylvania)[2]
Loretto (St. Francis University)[2]
Mansfield (Mansfield University of Pennsylvania)[2]
Meadville (Allegheny College)
Mont Alto (Penn State Mont Alto)
Millersville (Millersville University of Pennsylvania)[2]
New Wilmington (Westminster College)[2]
North East (Mercyhurst North East)

## 2 Créer un pandas data frame à partir d'un fichier txt
On veut créer un DataFrame nommé `towns_df` à partir du fichier 'university_towns.txt'

Nous voyons que nous avons des noms d'états périodiques suivis des villes universitaires de cet état: StateA TownA1 TownA2 StateB TownB1 TownB2 .... Si nous regardons la façon dont les noms d'états sont écrits dans le fichier, nous verrons qu'ils ont tous la sous-chaîne «[edit]» en eux.

Nous pouvons tirer parti de ce modèle en créant une liste de tuples (état, ville) et en enveloppant cette liste dans un DataFrame:

In [126]:
university_towns = []
with open('Datasets/university_towns.txt') as file:
    for line in file:
        if '[edit]' in line:
             # se rappeler de ce `state` jusqu'à ce qu'on trouve le suivant
            state=line
        else:
             # Sinon, nous avons une ville; garder `state` 
              university_towns.append((state, line))

university_towns[:5]

[('Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'),
 ('Alabama[edit]\n', 'Florence (University of North Alabama)\n'),
 ('Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'),
 ('Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'),
 ('Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n')]

In [15]:
towns_df = pd.DataFrame(university_towns,
                        columns=['State', 'RegionName'])
towns_df.head()

             State                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

## 3 Compléter la fonction `clean_up` pour nettoyer les colonnes de `towns_df`

In [16]:
## complétrer la fonction suivante ( à la place de pass)
def clean_up(item):
    if '(' in item:
        pass
        return item[:item.find('(') - 1]
    
    if '[' in item:
        return item[:item.find('[')]
    

towns_df =  towns_df.applymap(clean_up)
towns_df

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

# PART III ( OPTIONNELLE) 
## 1 Renaming columns and skipping rows
### 1.1 Convertir le fichier `olympics.csv` en dataframe pandas `olympics_df`

In [71]:
 
olympics_df = pd.read_csv('C:/Users/hed/Downloads/DM-master/DM-master/TP1/Datasets/olympics.csv')

# Afficher les 5 premières lignes
olympics_df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,? Summer,01 !,02 !,03 !,Total,? Winter,01 !,02 !,03 !,Total,? Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

### 1.2 Supprimer la première ligne

In [73]:
olympics_df.drop(olympics_df.index[1])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,? Summer,01 !,02 !,03 !,Total,? Winter,01 !,02 !,03 !,Total,? Games,01 !,02 !,03 !,Combined total
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
6,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
7,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
8,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
9,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
10,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
11,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
12,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
13,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
14,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
15,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
16,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
17,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
18,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
19,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
20,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
21,Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
22,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
23,Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
24,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
25,Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
26,Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
27,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
28,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
29,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
30,Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
119,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
120,Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
121,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
122,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
123,Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
124,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
125,Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
126,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
127,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
128,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
129,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
130,Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
131,Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
132,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
133,Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
134,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
135,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
136,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
137,Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
138,Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
139,Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
140,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
141,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
142,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

### 1.3 Changer le nom des colonnes en utilisant le dictionnaire suivant :
```python
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze',
              '? Winter': 'Winter Olympics',
              '01 !.1': 'Gold.1',
              '02 !.1': 'Silver.1',
              '03 !.1': 'Bronze.1',
              '? Games': '# Games', 
              '01 !.2': 'Gold.2',
              '02 !.2': 'Silver.2',
              '03 !.2': 'Bronze.2'}


```

In [74]:
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze',
              '? Winter': 'Winter Olympics',
              '01 !.1': 'Gold.1',
              '02 !.1': 'Silver.1',
              '03 !.1': 'Bronze.1',
              '? Games': '# Games', 
              '01 !.2': 'Gold.2',
              '02 !.2': 'Silver.2',
              '03 !.2': 'Bronze.2'}
olympics_df.rename(columns=new_names, inplace=True)









olympics_df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,? Summer,01 !,02 !,03 !,Total,? Winter,01 !,02 !,03 !,Total,? Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [ ]:
olympics_df.head()